---
import BaseLayout from "../layouts/BaseLayout.astro";
import TimeLineElement from "../components/TimeLine.astro";
---

<BaseLayout title="Ken HONDA Webpage" sideBarActiveItemID="cv">
  <div class="mb-5">
    <div class="text-3xl w-full font-bold">Profile</div>
  </div>

  <div class="mb-10 text-justify">
    I was born in Nishi-tokyo city, Tokyo, Japan. My research interests are
    related to Media Informatics, Database Systems and Human Computer
    Interaction.
  </div>

  <div class="mb-5">
    <div class="text-3xl w-full font-bold">Experience</div>
  </div>

  <div class="time-line-container mb-10">
    <TimeLineElement
      title="ðŸŽ“ Full-time Assisstant at Faculty of Engineering, International Professional University of Technology"
      subtitle="æ±äº¬å›½éš›å·¥ç§‘å°‚é–€è·å¤§å­¦ å·¥ç§‘å­¦éƒ¨ åŠ©æ‰‹"
      date="From 2024-04-01 to present, Tokyo, Japan"
    />

    <TimeLineElement
      title="ðŸŽ“ Part-time Lecturer at Faculty of Global Studies and Collaboration, Aoyama Gakuin University"
      subtitle="é’å±±å­¦é™¢å¤§å­¦ åœ°çƒç¤¾ä¼šå…±ç”Ÿå­¦éƒ¨ éžå¸¸å‹¤è¬›å¸«"
      date="From 2021-09-01 to present, Kanagawa, Japan"
    />

    <TimeLineElement
      title="ðŸŽ“ Full-time Assisstant at Faculty of Global Media Studies, Komazawa University"
      subtitle="é§’æ¾¤å¤§å­¦ ã‚°ãƒ­ãƒ¼ãƒãƒ«ãƒ»ãƒ¡ãƒ‡ã‚£ã‚¢ãƒ»ã‚¹ã‚¿ãƒ‡ã‚£ãƒ¼ã‚ºå­¦éƒ¨ åŠ©æ‰‹"
      date="From 2021-04-01 to 2024-03-31, Tokyo, Japan"
    />

    <TimeLineElement
      title="ðŸ’» Software Engineer at Bitkey Inc."
      subtitle="æ ªå¼ä¼šç¤¾ãƒ“ãƒƒãƒˆã‚­ãƒ¼ ã‚½ãƒ•ãƒˆã‚¦ã‚§ã‚¢ã‚¨ãƒ³ã‚¸ãƒ‹ã‚¢"
      date="From 2019-09-01 to 2021-03-31, Tokyo, Japan"
    />

    <TimeLineElement
      title="ðŸ’» Researcher at OrangeTechLab Inc."
      subtitle="æ ªå¼ä¼šç¤¾ã‚ªãƒ¬ãƒ³ã‚¸ãƒ†ã‚¯ãƒ©ãƒœ ç ”ç©¶å“¡"
      date="From 2018-06-01 to 2020-03-31, Tokyo, Japan"
    />

    <TimeLineElement
      title="ðŸ’» Part-time Instructor at LITALICO Inc."
      subtitle="æ ªå¼ä¼šç¤¾LITALICO éžå¸¸å‹¤è¬›å¸«"
      date="From 2015-04-01 to 2020-03-31, Tokyo, Japan"
    />
  </div>

  <div class="mb-5">
    <div class="text-3xl w-full font-bold">Academic Contributions</div>
  </div>

  <div class="time-line-container grid gap-4 mb-10">
    <TimeLineElement
      title="ðŸ“š é›»å­æƒ…å ±é€šä¿¡å­¦ä¼šãƒ‡ãƒ¼ã‚¿å·¥å­¦ç ”ç©¶ä¼š å¹¹äº‹"
      subtitle="2023-04-01 to present"
    />

    <TimeLineElement
      title="ðŸ“š FIT2023 ãƒ—ãƒ­ã‚°ãƒ©ãƒ å§”å“¡"
      subtitle="2022-10-01 to 2023-09-30"
    />

    <TimeLineElement
      title="ðŸ“š FIT2022 ç ”ç©¶ä¼šæ‹…å½“å§”å“¡"
      subtitle="2021-10-01 to 2022-09-30"
    />

    <TimeLineElement
      title="ðŸ“š FIT2021 ç ”ç©¶ä¼šæ‹…å½“å§”å“¡"
      subtitle="2020-10-01 to 2021-09-30"
    />

    <TimeLineElement
      title="ðŸ“š é›»å­æƒ…å ±é€šä¿¡å­¦ä¼šãƒ‡ãƒ¼ã‚¿å·¥å­¦ç ”ç©¶ä¼š å¹¹äº‹è£œä½"
      subtitle="2020-04-01 to 2023-03-31"
    />
  </div>

  <div class="mb-5">
    <div class="text-3xl w-full font-bold">Education</div>
  </div>

  <div class="time-line-container grid gap-4 mb-10">
    <TimeLineElement
      title="ðŸŽ“ Recieved a Ph.D. degree in Media from Graduate School of Global Media, Komazawa University"
      subtitle="é§’æ¾¤å¤§å­¦å¤§å­¦é™¢ã‚°ãƒ­ãƒ¼ãƒãƒ«ãƒ»ãƒ¡ãƒ‡ã‚£ã‚¢ç ”ç©¶ç§‘ã‚°ãƒ­ãƒ¼ãƒãƒ«ãƒ»ãƒ¡ãƒ‡ã‚£ã‚¢å°‚æ”» åšå£«å¾ŒæœŸèª²ç¨‹ ä¿®äº†ï¼ˆåšå£«ï¼ˆãƒ¡ãƒ‡ã‚£ã‚¢å­¦ï¼‰ï¼‰"
      date="2020-03, Tokyo, Japan."
    />
    <TimeLineElement
      title="ðŸŽ“ Recieved a M.A. degree in Media from Graduate School of Global Media, Komazawa University"
      subtitle="é§’æ¾¤å¤§å­¦å¤§å­¦é™¢ã‚°ãƒ­ãƒ¼ãƒãƒ«ãƒ»ãƒ¡ãƒ‡ã‚£ã‚¢ç ”ç©¶ç§‘ã‚°ãƒ­ãƒ¼ãƒãƒ«ãƒ»ãƒ¡ãƒ‡ã‚£ã‚¢å°‚æ”» ä¿®å£«èª²ç¨‹ ä¿®äº†ï¼ˆä¿®å£«ï¼ˆãƒ¡ãƒ‡ã‚£ã‚¢å­¦ï¼‰ï¼‰"
      date="2017-03, Tokyo, Japan."
    />
    <TimeLineElement
      title="ðŸŽ“ Recieved a B.A. degree in Media from Faculty of Global Media Studies, Komazawa University"
      subtitle="é§’æ¾¤å¤§å­¦ã‚°ãƒ­ãƒ¼ãƒãƒ«ãƒ»ãƒ¡ãƒ‡ã‚£ã‚¢ã‚¹ã‚¿ãƒ‡ã‚£ãƒ¼ã‚ºå­¦éƒ¨ã‚°ãƒ­ãƒ¼ãƒãƒ«ãƒ»ãƒ¡ãƒ‡ã‚£ã‚¢å­¦ç§‘ å’æ¥­"
      date="2015-03, Tokyo, Japan."
    />
  </div>

  <!-- <div class="mb-5">
    <div class="text-3xl w-full font-bold">Certifications</div>
  </div>
  <ul class="list-disc mx-6 mb-10 grid gap-2">
    <li>
      <a href="#" target="_blank"> Certification Name (with link)</a>
    </li>
  </ul>

  <div class="mb-5">
    <div class="text-3xl w-full font-bold">Biography</div>
  </div>
  <ul class="list-disc mx-6 mb-10 grid gap-2">
    <li>2019-09 to 2021-03: Software Engineer</li>
    <li>2018-06 to 2020-03: Researcher</li>
  </ul> -->
</BaseLayout>
