---
import BaseLayout from "../layouts/BaseLayout.astro";
import TimeLineElement from "../components/TimeLine.astro";
---

<BaseLayout title="Ken HONDA Webpage" sideBarActiveItemID="cv">
  <div class="mb-5">
    <div class="text-3xl w-full font-bold">Profile</div>
  </div>

  <div class="mb-10 text-justify">
    I was born in Nishi-tokyo city, Tokyo, Japan. My research interests are
    related to Media Informatics, Database Systems and Human Computer
    Interaction.
  </div>

  <div class="mb-5">
    <div class="text-3xl w-full font-bold">Experience</div>
  </div>

  <div class="time-line-container mb-10">
    <TimeLineElement
      title="Full-time Assisstant at Faculty of Engineering, International Professional University of Technology"
      subtitle="東京国際工科専門職大学 工科学部 助手"
      date="From 2024-04-01 to present, Tokyo, Japan"
    />

    <TimeLineElement
      title="Part-time Lecturer at Faculty of Global Studies and Collaboration, Aoyama Gakuin University"
      subtitle="青山学院大学 地球社会共生学部 非常勤講師"
      date="From 2021-09-01 to present, Kanagawa, Japan"
    />

    <TimeLineElement
      title="Full-time Assisstant at Faculty of Global Media Studies, Komazawa University"
      subtitle="駒澤大学 グローバル・メディア・スタディーズ学部 助手"
      date="From 2021-04-01 to 2024-03-31, Tokyo, Japan"
    />

    <TimeLineElement
      title="Software Engineer at Bitkey Inc."
      subtitle="株式会社ビットキー ソフトウェアエンジニア"
      date="From 2019-09-01 to 2021-03-31, Tokyo, Japan"
    />

    <TimeLineElement
      title="Researcher at OrangeTechLab Inc."
      subtitle="株式会社オレンジテクラボ 研究員"
      date="From 2018-06-01 to 2020-03-31, Tokyo, Japan"
    />

    <TimeLineElement
      title="Part-time Instructor at LITALICO Inc."
      subtitle="株式会社LITALICO 非常勤講師"
      date="From 2015-04-01 to 2020-03-31, Tokyo, Japan"
    />
  </div>

  <div class="mb-5">
    <div class="text-3xl w-full font-bold">Academic Contributions</div>
  </div>

  <div class="time-line-container grid gap-4 mb-10">
    <TimeLineElement
      title="電子情報通信学会データ工学研究会 幹事"
      subtitle="2023-04-01 to present"
    />

    <TimeLineElement
      title="FIT2023 プログラム委員"
      subtitle="2022-10-01 to 2023-09-30"
    />

    <TimeLineElement
      title="FIT2022 研究会担当委員"
      subtitle="2021-10-01 to 2022-09-30"
    />

    <TimeLineElement
      title="FIT2021 研究会担当委員"
      subtitle="2020-10-01 to 2021-09-30"
    />

    <TimeLineElement
      title="電子情報通信学会データ工学研究会 幹事補佐"
      subtitle="2020-04-01 to 2023-03-31"
    />
  </div>

  <div class="mb-5">
    <div class="text-3xl w-full font-bold">Education</div>
  </div>

  <div class="time-line-container grid gap-4 mb-10">
    <TimeLineElement
      title="Recieved a Ph.D. degree in Media from Graduate School of Global Media, Komazawa University"
      subtitle="駒澤大学大学院グローバル・メディア研究科グローバル・メディア専攻 博士後期課程 修了（博士（メディア学））"
      date="2020-03, Tokyo, Japan."
    />
    <TimeLineElement
      title="Recieved a M.A. degree in Media from Graduate School of Global Media, Komazawa University"
      subtitle="駒澤大学大学院グローバル・メディア研究科グローバル・メディア専攻 修士課程 修了（修士（メディア学））"
      date="2017-03, Tokyo, Japan."
    />
    <TimeLineElement
      title="Recieved a B.A. degree in Media from Faculty of Global Media Studies, Komazawa University"
      subtitle="駒澤大学グローバル・メディアスタディーズ学部グローバル・メディア学科 卒業"
      date="2015-03, Tokyo, Japan."
    />
  </div>

  <!-- <div class="mb-5">
    <div class="text-3xl w-full font-bold">Certifications</div>
  </div>
  <ul class="list-disc mx-6 mb-10 grid gap-2">
    <li>
      <a href="#" target="_blank"> Certification Name (with link)</a>
    </li>
  </ul>

  <div class="mb-5">
    <div class="text-3xl w-full font-bold">Biography</div>
  </div>
  <ul class="list-disc mx-6 mb-10 grid gap-2">
    <li>2019-09 to 2021-03: Software Engineer</li>
    <li>2018-06 to 2020-03: Researcher</li>
  </ul> -->
</BaseLayout>
