---
import BaseLayout from "../layouts/BaseLayout.astro";
import HorizontalCard from "../components/HorizontalCard.astro";
---

<BaseLayout title="Ken HONDA Webpage" sideBarActiveItemID="publications">
  <div>
    <div class="text-4xl w-full font-bold mb-5">Publications</div>
  </div>
  <br /><br /><br />

  <div>
    <div class="text-3xl w-full font-bold mb-4">Journals</div>
  </div>
  <div class="divider my-0"></div>
  <HorizontalCard
    author="Ken Honda, Naofumi Yoshida"
    title="A Matrix Node Graph Data Structure and Its Application for Credibility Assessment with Temporal Transition of Intention"
    desc="Frontiers in Artificial Intelligence and Applications, Vol.321: Information Modelling and Knowledge Bases XXXI, pp238-252, 2020."
    badge="DOI: 10.3233/FAIA200018"
    url="https://ebooks.iospress.nl/volumearticle/53703"
  />
  <HorizontalCard
    author="Ken Honda, Naofumi Yoshida"
    title="A Sensor Selection and Learning Method for Credibility Assessment Using Sensor Data"
    desc="Frontiers in Artificial Intelligence and Applications, Vol.312: Information Modelling and Knowledge Bases XXX, pp400-414, 2019."
    badge="DOI: 10.3233/978-1-61499-933-1-400"
    url="https://ebooks.iospress.nl/volumearticle/50926"
  />
  <HorizontalCard
    author="Ken Honda, Naofumi Yoshida"
    title="An Evaluation Model of Credibility Calculation System for Natural Disasters"
    desc="Frontiers in Artificial Intelligence and Applications, Vol.301: Information Modelling and Knowledge Bases XXIX, pp429-440."
    badge="DOI: 10.3233/978-1-61499-834-1-429, 2018."
    url="https://ebooks.iospress.nl/volumearticle/48581"
  />
  <br /><br /><br />

  <div>
    <div class="text-3xl w-full font-bold mb-4">International Conference</div>
  </div>
  <div class="divider my-0"></div>
  <HorizontalCard
    author="Ken Honda, Chiharu Itoga, Akira Hattori"
    title="Fostering Attachment to the Community by Discovering of Local Resources using Location-Based System"
    desc="The 19th International Conference on Ubiquitous Information Management and Communication, Amari Bangkok Hotel, Thailand, January 03-05, 2025."
    badge="IMCOM2025"
    url="http://www.imcom.org/"
  />
  <HorizontalCard
    author="Ken Honda, Naofumi Yoshida"
    title="A Matrix Node Graph Data Structure and Its Application for Credibility Assessment with Temporal Transition of Intention"
    desc="The 29th International Conference on Information Modelling and Knowledge Bases, Lappeenranta, Finland, June 3-7, 2019."
    badge="EJC2019"
    url="https://www.lut.fi/web/en/ejc-conference#:~:text=EJC%202019%20%E2%80%93%20June%203%2D7,and%20users%20of%20information%20systems."
  />
  <HorizontalCard
    author="Ken Honda, Naofumi Yoshida"
    title="A Sensor Selection and Learning Method for Credibility Assessment Using Sensor Data"
    desc="The 28th International Conference on Information Modelling and Knowledge Bases, Riga,Latvia,June 4-8, 2018."
    badge="EJC2018"
    url="http://www.ejc-conference.org/"
  />
  <HorizontalCard
    author="Ken Honda, Naofumi Yoshida"
    title="An Evaluation Model of Credibility Calculation System for Natural Disasters"
    desc="The 27th International Conference on Information Modelling and Knowledge Bases, Krabi,Thailand,June 5-9, 2017."
    badge="EJC2017"
    url="https://allconferencecfpalerts.blogspot.com/2016/12/the-27th-international-conference-on.html"
  />
  <HorizontalCard
    author="Ken Honda, Naoki Ishibashi, Naofumi Yoshida"
    title="An Implementation Method of Credibility Calculation System for Emergency such as Natural Disasters"
    desc="20th East-European Conference on Advances in Databases and Information Systems, workshop DCSA - Data Centered Smart Applications, (Communications in Computer and Information Science 637, New Trends in Databases and Information Systems, ADBIS 2016 Short Papers and Workshops, BigDap, DCSA, DC, Prague, Czech Republic, August 28-31, 2016 Proceedings, Springer), pp.193-201,2016."
    badge="ADBIS2016"
    url="https://link.springer.com/book/10.1007/978-3-319-44039-2"
  />
  <br /><br /><br />

  <div>
    <div class="text-3xl w-full font-bold mb-5">学会発表</div>
  </div>
    <HorizontalCard
    author="長峯幸佑, 柏原悠斗, 久木渚生, 大山拓徒, 吉田太一, 加藤逸, 本多賢"
    title="ビル大学における時間制限を考慮したランチ推薦アプリlounasの開発"
    desc="ヒューマンインターフェースシンポジウム2024, 京都大学吉田キャンパス, 9月18日-20日, 2024."
    badge="HIS2024"
    url="https://jp.his.gr.jp/symposium/hi2024-schedule/"
  />
  <HorizontalCard
    author="糸賀千晴, 本多賢, 服部哲, 青柳西蔵, 山口浩"
    title="テーマパークにおけるUX向上を目的とした情報提供システムの実用性評価"
    desc="第16回データ工学と情報マネジメントに関するフォーラム（第22回日本データベース学会年次大会）, アクリエ姫路, 2月28日-3月1日（オンライン）,3月4日-5日（オンサイト）, 2024."
    badge="DEIM2024"
    url="https://confit.atlas.jp/guide/event/deim2024/top?lang=ja"
  />
  <HorizontalCard
    author="糸賀千晴, 本多賢, 服部哲, 青柳西蔵, 山口浩"
    title="階層的なエリア分割と関連情報の提供方式の実装"
    desc="第119回グループウェアとネットワークサービス研究発表会 (IPSJ SIG Technical Report), 国士館大学世田谷キャンパス(梅ヶ丘校舎), 3月13-14日, 2023."
    badge="GN研究会2023"
    url="https://www.ipsj.or.jp/kenkyukai/event/gn119.html"
  />
  <HorizontalCard
    author="糸賀千晴, 本多賢, 服部哲, 青柳西蔵, 山口浩"
    title="実空間の階層化と位置情報に基づく情報提供方式"
    desc="第13回社会情報学会中部支部研究会 合同研究会, 椙山女学園大学 (名古屋), Japan, December 24, 2022."
    badge="SSI研究会2023"
    url="https://ssicj.main.jp/2022/12/14/%e7%ac%ac13%e5%9b%9e%e3%80%80%e7%a4%be%e4%bc%9a%e6%83%85%e5%a0%b1%e5%ad%a6%e4%bc%9a%e4%b8%ad%e9%83%a8%e6%94%af%e9%83%a8%e7%a0%94%e7%a9%b6%e4%bc%9a%e3%80%80%e3%83%97%e3%83%ad%e3%82%b0%e3%83%a9%e3%83%a0/"
  />
  <HorizontalCard
    author="糸賀千晴, 滝田巧平, 本多賢"
    title="複数のエッジデバイスを用いた混雑率可視化のためのデータ統合方式"
    desc="第21回情報科学技術フォーラム, 慶應義塾大学矢上キャンパス（神奈川）, 9月13日-15日, 2022."
    badge="FIT2022"
    url="https://ssicj.main.jp/2022/12/14/%e7%ac%ac13%e5%9b%9e%e3%80%80%e7%a4%be%e4%bc%9a%e6%83%85%e5%a0%b1%e5%ad%a6%e4%bc%9a%e4%b8%ad%e9%83%a8%e6%94%af%e9%83%a8%e7%a0%94%e7%a9%b6%e4%bc%9a%e3%80%80%e3%83%97%e3%83%ad%e3%82%b0%e3%83%a9%e3%83%a0/"
  />
  <HorizontalCard
    author="糸賀千晴, 滝田巧平, 福盛慎平, 井上和希, 本多賢"
    title="大学を対象としたUX向上のためのシステム開発と導入に向けた検討"
    desc="2022年社会情報学会 学会大会, 東北大学（宮城）, 9月2日-3日, 2022."
    badge="SSI全国大会2022"
    url="https://award-con.com/ssi2022/"
  />
  <HorizontalCard
    author="本多賢, 吉田尚史"
    title="センサデータを用いた信憑性評価を対象としたセンサ選択及び学習方式"
    desc="第10回データ工学と情報マネジメントに関するフォーラム（第16回日本データベース学会年次大会）, 福井県あわら市 清風荘, 3月4日-6日, 2018."
    badge="DEIM2018"
    url="https://db-event.jpn.org/deim2018/"
  />
  <HorizontalCard
    author="本多賢, 石橋直樹, 吉田尚史"
    title="自然災害などの緊急時における情報の信憑性計測システムの実装"
    desc="第8回データ工学と情報マネジメントに関するフォーラム（第14回日本データベース学会年次大会）, ヒルトン福岡シーホーク, 2月29日-3月2日, 2016."
    badge="DEIM2016"
    url="https://db-event.jpn.org/deim2016/"
  />
</BaseLayout>
